*{
    padding: 0;
    margin: 0;
}
.container{
    margin-left: 470px;
    margin-top: 130px;
    width: 290px;
    height: 350px;
    position: relative;
    border: 2px solid rgba(255, 255, 255,.5);
    border-radius: 10px;
    box-shadow: 0 0 30px rgpa(0,0,0,.5);
    background: transparent;
    backdrop-filter: blur(20px);
    align-content: center;
    justify-content: center;
}
h3{
    text-align: center;
    color:whitesmoke;
    margin-top: 30px;
}
body{
    background-image: url(./photos/pexels-pixabay-268976.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
}
label{
    font-size: larger;
    color: whitesmoke;
}
input{
    width: 220px;
    height: 34px;
    border-radius: 7px;
}
#b1{
    margin-left: 80px;
    margin-top: 5px ;
}
p{
    height:20px;
    font-size: 15px;
    color:black;
}
#result{
    color:whitesmoke;
    margin-top: 10px;
}